{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}

<h1>New Post</h1>

<form action="/posts/{{post.id}}/edit" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(_class="form-control")}}
        </p>
        
        {% for error in field.errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endfor %}
    
    <button class="btn btn-primary">Edit</button>
</form>

<a href="/posts/{{post.id}}">
    <button class="btn btn-danger">Back</button>
</a>

{% endblock %}