{% extends 'base.html' %}

{% block title %} Create New Tag {% endblock %}

{% block content %}

<h1>Edit '{{tag.name}}'</h1>

<form action="/tags/{{tag.id}}/edit" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(_class="form-control")}}
        </p>
        
        {% for error in field.errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endfor %}
    
    <button class="btn btn-primary">Submit</button>
</form>

<a href="/tags/{{tag.id}}">
    <button class="btn btn-danger">Go Back</button>
</a>

{% endblock %}